
<!--    <header>-->
<!--        <img th:src="@{/images/logo.jpg}" alt="Virtual Music Store Logo" width="58"/>-->
<!--        <h1>Virtual Music Store</h1>-->
<!--        <h2>Quality Sounds Served Up Fresh!</h2>-->
<!--    </header>-->
<!--    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">-->
<!--    <ul>-->
<!--        <li><a href="/admin/home">Admin</a> </li>-->
<!--        <li><a href="/home">Home</a> </li>-->
<!--        <li><a href="/user/cart">Show Cart</a> </li>-->
<!--    </ul>-->
<!--    </nav>-->
